.pagination {
  display: flex;
}
.pagination li {
  width: 50px;
  list-style-type: none;
  text-align: center;
  border: 1px solid #ccc
}
.pagination li a {
  text-decoration: none;
}

.active {
  background-color: #ccc;
}
body{
  padding: 10px;
}
